h1 {
    text-align: center;
}
h2 {
    text-align: center;
    margin: 5px;
    font-size: medium;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.main {
    justify-content: center;
}

.action {
    justify-content: center;
}
.container_scrollable {
    height: 300px;
    width: 200px;
    overflow-y: auto;
    border: 1px solid #000;
}

.container_scrollable ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container_scrollable li {
    border: 1px solid #000;
    text-align: center;
}

.course.active {
    background-color: deepskyblue;
}

#select_button {
    margin-top: 1rem;
}

.course:nth-child(even) {
    background-color: rgb(221, 239, 221);
}

#course_list li.active {
    background-color: deepskyblue;
    color: white; /* makes text readable */
}

#selected_course_list li:nth-child(even) {
    background-color: rgb(221, 239, 221);
}
